name: Manual Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version tag (example: v0.0.1)"
        required: true
        type: string
      description:
        description: "Release description"
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Ensure main branch
        run: |
          BRANCH=${GITHUB_REF#refs/heads/}
          if [ "$BRANCH" != "main" ]; then
            echo "Release must be run from main branch"
            exit 1
          fi

      - name: Create git tag
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git tag ${{ inputs.version }}
          git push origin ${{ inputs.version }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.version }}
          body: ${{ inputs.description }}

      # ---------- DOCKER PART ----------

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            dnabil/exaroton-wa-bot:${{ inputs.version }}
            dnabil/exaroton-wa-bot:latest
          platforms: linux/amd64,linux/arm64
